<!DOCTYPE html>
<html>

<head>
    <title>Welcome to MinecraftBotHelper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jsonViewer.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jsonViewer.js"></script>
    <script src="js/jquery.min.js"></script>
</head>

<body style="height: 100vh;">
    <div class="container-fluid bg-dark overflow-hidden" style="height: 100vh;">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>
        <div id="alert-container" style="position:absolute; left: 50%; transform: translate(-50%, 0);">
            <div class="alert btn-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    Server disconnected
                </div>
            </div>
        </div>
        <div class="row gx-2 d-flex py-3" style="height: 80vh;">
            <div class="col-lg-8 d-flex flex-column" style="height: inherit;">
                <p class="text-primary">Bot messages</p>
                <div id="messageViewer" class="border border-primary rounded flex-grow-1"
                    style="height:0; overflow:scroll;">
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column" style="height: inherit;">
                <div class="col-lg-12 row">
                    <p class="col-lg-4 text-primary">Bot debug values</p>
                </div>
                <div class="col-lg-12 row px-3 py-1">
                    <input id="botDebugValue" class="col-lg-4" type="text" />
                    <div class="col-lg-4">
                        <div class="btn-sm w-100 btn btn-primary" onclick="getBotDebugInfo()">Refresh debug values
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-sm w-100 btn btn-primary" onclick="getBotDebugEval()">Evaluate debug func
                        </div>
                    </div>
                </div>
                <div id="jsonViewer" class="border border-primary rounded flex-grow-1" style="overflow:scroll;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form action="">
                    <div class="row mb-3">
                        <small for="message" class="text-muted">Message send to bot</small>
                        <div class="col-lg-10">
                            <input type="text" class="form-control form-control" id="message" placeholder="say /spawn">
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary w-100" onclick="sendChat()">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        function sendChat() {
            let message = document.getElementById("message").value;
            socket.emit('message', selectedBot, message);
            document.getElementById("message").value = "";
            event.preventDefault();
        }

        let pollingInterval = 500;
        let intervalInstance;
        let botList = [];
        let selectedBot;

        function getBotMessages() {
            socket.emit("bot_messages", selectedBot, function (msg) {
                let element = document.getElementById('messageViewer');
                let scrollPercent = element.scrollTop / (element.scrollHeight - element.clientHeight);
                var msgMapped = msg.messages.map((x) => `<div class="text-light">${x}</div>`);
                element.innerHTML = msgMapped.join('');
                if (scrollPercent == 1) {
                    element.scrollTop = element.scrollHeight;
                }
            })
        }

        function getBotDebugInfo() {
            socket.emit("bot_debug_info", selectedBot, $("#botDebugValue").val(), function (msg) {
                if (msg && msg.bot) {
                    // let stripped = msg.bot.replace(/<ref \*[0-9]*> /g,"");
                    //     console.log(stripped);
                    renderJsonViewer(JSON.parse(msg.bot));
                }
            })
        }

        function getBotDebugEval() {
            if ($("#botDebugValue").val()) {
                let value = $("#botDebugValue").val();
                let arg = value.slice(value.indexOf("("));
                arg = arg.substring(1, arg.length-1).split(",");
                let functionName = $("#botDebugValue").val().substring(0, value.indexOf("("));
                socket.emit("bot_debug_eval", selectedBot, functionName, arg, function (msg) {
                    if (msg && msg.value)
                        console.log(msg.value);
                })
            }
        }

        let tree;
        function renderJsonViewer(data) {
            var jsonViewer = document.getElementById('jsonViewer');
            if (!tree)
                tree = jsonTree.create(data, jsonViewer);
            else
                tree.loadData(data);
        }

        socket.on("connect", () => {
            $('.alert-container').removeClass('show');
            console.log("client side socket connection established");
            socket.emit('bot_list', (list) => {
                botList = list;
                if (botList.length > 0) {
                    selectedBot = botList[0];
                    console.log(selectedBot);
                    intervalInstance = setInterval(() => {
                        //getBotDebugInfo();
                        getBotMessages();
                    }, pollingInterval)
                }
            });
        });

        socket.on("disconnect", () => {
            $('.alert-container').addClass('show');
            clearInterval(intervalInstance);
        })
    </script>
</body>

</html>